.App {
  font-family: sans-serif;
  text-align: center;
}

.DateRangePickerInput_arrow {
  width: 90px;
  text-align: center;
}

.DateInput {
  display: inline-flex !important;
}

.DateInput_input {
  cursor: pointer;
}

td ,th {
    vertical-align: middle;
    text-align: center;
}

/*.form-group {*/
    /*padding-top: 0.5%;*/
/*}*/
